block login
    .container
        #login-box.login-popup
            button.btn.btn-info(class="button" id="login") login
            button.btn.btn-info(class="button" id="signup") signup
            button.buttonFonts(class="close" id="close") x
            section
                form(id="loginForm" class="form" action="/login" method="post")
                    section(class="span12 text-center")
                        h2(class="formTitle") Login
                        section.formFonts
                            input(id="emailEx" class="inputField" type="email" name ="email" placeholder="Email")
                            br
                            br
                            input(id="passwordEx" class="inputField" type="password" name="password" placeholder="Password")
                            br
                            br
                            input.btn.btn-success.submit(type="submit" value="Login")
                form(id="signupForm" class="form" action="/signup" method="post" hidden="")
                    section(class="span12 text-center")
                        h2(class="formTitle") Sign Up
                        section.formFonts
                            input(id="usernameNew" class="inputField" type="text" name ="username" placeholder="Choose a Username")
                            br
                            br
                            input(id="emailNew" class="inputField" type="email" name ="emailNew" placeholder="Enter your email")
                            br
                            br
                            input(class="inputField" id="passwordNew" type="password" name="passwordNew" placeholder="Choose a Password")
                            br
                            br
                            input(id="passwordNewConfirm" class="inputField" type="password"  name="confirmPassword" placeholder="Confirm Password")
                            br
                            br
                            input.btn.btn-success.submit(type="submit" value="Sign Up")
