extends ../layout

block content
    .content
    h1 Add new calendar
        h2 Add new event
            form(method="post", action='/calendars/new', enctype="multipart/form-data", role="form")
                input(type="hidden", name="_csrf", value="#{csrf_token}")
                label(for='title') Title
                    input.form-control#title(type='text', name="title", value=calendar.name, placeholder='New Calendar name')
                label(for='desc') Body
                    textarea.form-control#desc(rows="5", name="body", placeholder='Enter the calendar description')=calendar.description


                label(for='tags') Tags
                    input#tags(type='text', name="tags", value=calendar.tags, placeholder='Enter the tags')
                    button(type='submit') Add
                    | &nbsp;
                    a.btn(href='/calendars', title="cancel") Cancel
