block search-bar
    .container
        form(action="/search" method="get")
            .form-group
                input.form-control.w3-section.short-search(name="q" type="text" placeholder='Search Calendars')
                input.w3-border.w3-border-black.w3-padding.white-letter#search-button-index(type="submit" value="search")
