block search-bar
    .container
        .row
            .col-md-12
                form.centreForm(action="/search" method="get")
                    #adv-search.form-group.row
                        input.form-control.centreInput.input-lg(name="q" type="text" placeholder='Search Calendars')
                    .form-group.row
                        input.w3-border.w3-border-black.w3-padding(type="submit" value="search")
