block search-bar
    .main-nav
        .container
            .row
                .col-md-6.col-sm-7
                    .container
                        .row
                            .col-xs-8.col-xs-offset-2.input-group
                                form(action="calendars/search" method="get")
                                    input.form-control(name="q" type="text" placeholder='Search term...')
                                    input.btn.btn-group(type="submit" value="search")
