.search {
    width: 205%;
    text-align: center;
}
.searchBar{
    width: 100%;
}

.center {
  text-align: center;
}

.login {
    text-align: center;
}

.form {
    font-size: 8px;
}

#popup {
    border-style: solid;
    width: 70%;
    margin-left: 10%;
    border-width: 5px;
}

.button {
    background-color: #2A80B9;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main-nav-pro{
    background-color: white !important;
}
.main-nav-button{
    padding-right:10px;

}

.topButton {

    margin-left: 90%;
    margin-top: 3%;
}
