/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* You can customize to your needs  */
.login-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    /*padding: 10px;*/
    left: 50%;
    top: 40%;
    width: 500px; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background: #ffffff;
    box-shadow: 0 0 10px #111;
    border-radius: 3px 3px 3px 3px;
}


#no-bottom-border{
    border-bottom:none !important;
}
#logoutButton:hover, #profileButton:hover, #pubcalButton:hover, #login-window:hover{
    background: black !important;
    color: white !important;
}
#pubcalButton{
    margin-left:15px !important;
}
#search-button-index{
    display: none;
    border: solid 1px white !important;
    background: transparent !important;
}
#search-container{
    text-align:center;
}
#menu-btn{
    margin-top:10px;
    float:right;
    height:75px;
    top: 0 !important;
    position: absolute;

}

#search-button-index:hover{
    background: white !important;
    border: solid 1px white !important;
}

.white-letter{
    color: white !important;
    font-size: 20px !important;
}
.white-letter:hover{
    background:white;
    font-size: 20px !important;
    color: black !important;

}
.trans{
    background:transparent!important;

    box-shadow: none !important;
    opacity: 0.9;
    color:white;
}

.pop-white{
    color:white;
    background:transparent!important;
    margin-bottom: 10px;
    box-shadow: none !important;
    border: none !important;
}

.black-letter{
    color: black;
}

.buttonFonts {
    font-size: 16px;
}

.centreForm {
    margin-top: 20px;
    text-align: center;
}

.centreInput {
    width: 50px; !important;
    /*margin: 0 auto;*/
}


.short-box{

    /*border-bottom: solid 3px white !important;*/
    /*border-top: solid 3px white !important;*/
    border-bottom: none!important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
    height: 55px;
    color: white;
    font-size:27px;
    width:400px !important;
    background-color: transparent !important;
    margin-left: 80px !important;

}


.login-window, .menu-window{
    margin-top: 4px;
}

.left-half {
    /*background-color: #ff9e2c;*/
    float: left;
    width: 50%;
}
.right-half {
    /*background-color: #b6701e;*/
    float: left;
    width: 50%;
}

#signup, #login {
    padding-left: 40%;
    padding-top: 9%;
    padding-bottom: 10%;
}

a#signup:hover, a#login:hover {
    color: white !important;
    background: black !important;
}

.wider {
    width: 80%;
    height: 50px;
}

.short-search {
    border-bottom: none!important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 3px;
    height: 45px;
    font-size:20px;
    width:500px !important;
    margin-left: 28% !important;
    transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
}

/* snackbar styles */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #69b4ff;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    font-size: 1rem;
}

.show {
    visibility: visible !important;
    animation: fadein 1s, fadeout 1s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* end snackbar styles */

/*=========== footer ===========*/
/*reference http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}
