/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
        -webkit-border-radius: 3px;
    /* Safari, Chrome */;
    width: 500px;
}
#no-bottom-border{
    border-bottom:none !important;
}
#logoutButton:hover, #profileButton:hover, #pubcalButton:hover, #login-window:hover{
    background: black !important;
    color: white !important;
}
#search-button-index{
    border: solid 1px white !important;
    background: transparent !important;
}

#search-button-index:hover{
    background: white !important;
    border: solid 1px white !important;
}

.white-letter{
    color: white !important;
    font-size: 20px !important;
}
.white-letter:hover{
    background:white;
    font-size: 20px !important;
    color: black !important;

}
.black-letter{
    color: black;
}

.formFonts {
    font-size: 16px;
}

.buttonFonts {
    font-size: 16px;
}

.submit {
    width: 30%;
}
#close {
    margin-left: 40%;
}

.centreForm {
    margin-top: 20px;
    text-align: center;
}

.centreInput {
    width: 70%;
    margin: 0 auto;
}

.toRight {
    position: absolute;
    right: 30px;
}

.relative {
    top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.large {
    font-size: 50px;
}

.login-window {
    margin-top: 4px;
}

