/* Mask for background, by default is not display */
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* You can customize to your needs  */
.login-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    /*padding: 10px;*/
    left: 50%;
    top: 40%;
    width: 500px; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background: #ffffff;
    box-shadow: 0 0 10px #111;
    border-radius: 3px 3px 3px 3px;
}


#no-bottom-border{
    border-bottom:none !important;
}
#logoutButton:hover, #profileButton:hover, #pubcalButton:hover, #login-window:hover{
    background: black !important;
    color: white !important;
}
#search-button-index{

    border: solid 1px white !important;
    background: transparent !important;
}
#search-container{
    text-align:center;
}
#menu-btn{
    margin-top:10px;
    float:right;
    height:75px;
    top: 0 !important;
    position: absolute;

}

#search-button-index:hover{
    background: white !important;
    border: solid 1px white !important;
}

.white-letter{
    color: white !important;
    font-size: 20px !important;
}
.white-letter:hover{
    background:white;
    font-size: 20px !important;
    color: black !important;

}
.trans{
    background:transparent!important;

    box-shadow: none !important;
    opacity: 0.9;
    color:white;
}

.pop-white{
    color:white;
    background:transparent!important;
    margin-bottom: 10px;
    box-shadow: none !important;
    border: none !important;
}

.black-letter{
    color: black;
}

.formFonts {
    font-size: 16px;
}

.buttonFonts {
    font-size: 16px;
}

.centreForm {
    margin-top: 20px;
    text-align: center;
}

.centreInput {
    width: 70%;
    margin: 0 auto;
}


.short-box{

    /*border-bottom: solid 3px white !important;*/
    /*border-top: solid 3px white !important;*/
    border-bottom: none!important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
    height: 55px;
    color: white;
    font-size:27px;
    width:400px !important;
    background-color: transparent !important;
    margin-left: 80px !important;

}


.login-window, .menu-window{
    margin-top: 4px;
}

.left-half {
    /*background-color: #ff9e2c;*/
    float: left;
    width: 50%;
}
.right-half {
    /*background-color: #b6701e;*/
    float: left;
    width: 50%;
}

#signup, #login {
    padding-left: 40%;
    padding-top: 9%;
    padding-bottom: 10%;
}

#signup:hover, #login:hover {
    color: white !important;
}

.wider {
    width: 80%;
    height: 50px;
}
