extends layout
block content
    #myModal.modal
        .modal-content
            span.close x
            |  Title:
            #eventTitle.eventInfo &amp;nbsp
            |  Start date(yyyy-mm-dd):
            #eventStart.eventInfo &amp;nbsp
            |  Start time(hh:mm):
            #eventStartTime.eventInfo &amp;nbsp
            |  End date(yyyy-mm-dd):
            #eventEnd.eventInfo &amp;nbsp
            |  End time(hh:mm):
            #eventEndTime.eventInfo &amp;nbsp
            |  Description:
            #eventDescription.eventInfo &amp;nbsp
    #calendarTitle
    #calendar
    #info
        h3 Owner:
        #owner.info
        h3 Description
        #descriptionBox.w3-margin-right
        a.w3-btn.w3-white.w3-border.w3-border-indigo.w3-round-xlarge.w3-hover-indigo.w3-text-indigo.w3-margin#edit-btn(href='') Edit
        a.w3-btn.w3-white.w3-border.w3-border-green.w3-round-xlarge.w3-hover-green.w3-text-green.w3-margin#subscribe-btn(href='') Subscribe
        a.w3-btn.w3-white.w3-border.w3-border-teal.w3-round-xlarge.w3-hover-teal.w3-text-teal.w3-margin#unsubscribe-btn(href='') Unsubscribe
        a.w3-btn.w3-white.w3-border.w3-border-blue.w3-round-xlarge.w3-hover-blue.w3-text-blue.w3-margin#download-btn(href='') Download
        a.w3-btn.w3-white.w3-border.w3-border-red.w3-round-xlarge.w3-hover-red.w3-text-red.w3-margin#remove-btn(href='') Remove
    #username.hidden #{username}
    #subscribed.hidden #{subscribed}


    link(href='/public/css/calendar_library/fullcalendar.css', rel='stylesheet')
    link(href='/public/css/calendar_library/modal.css', rel='stylesheet')
    //link(href='/public/css/button.css', rel='stylesheet')
    link(href='/public/css/calendar_library/fullcalendar.print.css', rel='stylesheet', media='print')
    script(src='/public/js/calendar_library/moment.min.js')
    script(src='/public/js/calendar_library/jquery.min.js')
    script(src='/public/js/calendar_library/fullcalendar.min.js')
    script(src='/public/js/calendar.js')
    script(src='/public/js/sub-unsub.js')