extends layout
block content
    #myModal.modal
        .modal-content
            span.close x
            form#addEvent(action='')
                | Title:
                input#newTitle(type='text', name='newTitle')
                br
                |  Start date(yyyy-mm-dd):
                input#newStart(type='text', name='newStart')
                br
                |  Start time(hh:mm):
                input#newStartTime(type='text', name='newStartTime')
                br
                |  End date(yyyy-mm-dd):
                input#newEnd(type='text', name='newEnd')
                br
                |  End time(hh:mm):
                input#newEndTime(type='text', name='newEndTime')
                br
                |  Description:
                textarea#newDescription(name='newDescription', cols='40', rows='5')
                br
                input(type='submit', name='submit', value='add event')
            form#modifyEvent(action='')
                | Title:
                input#selectedTitle(type='text', name='selectedTitle')
                br
                |  Start date(yyyy-mm-dd):
                input#selectedStart(type='text', name='selectedStart')
                br
                |  Start time(hh:mm):
                input#selectedStartTime(type='text', name='selectedStartTime')
                br
                |  End date(yyyy-mm-dd):
                input#selectedEnd(type='text', name='selectedEnd')
                br
                |  End time(hh:mm):
                input#selectedEndTime(type='text', name='selectedEndTime')
                br
                |  Description:
                textarea#selectedDescription(name='selectedDescription', cols='40', rows='5')
                br
                input#selectedID(type='hidden', name='selectedID')
                input(type='submit', name='update_button', value='update event')
                input(type='submit', name='delete_button', value='remove event')
    #calendar
    form#calendar_form(action='')
        | Title:
        br
        input#cal_title(type='text', name='cal_title')
        br
        |  Description:
        br
        textarea#cal_description(name='description', cols='80', rows='10')
        br
        br
        input#submitButton.create-cal(type='submit', name='submit', value='submit')
    span(class="username-field").hidden=username
    link(href='/public/css/calendar_library/fullcalendar.css', rel='stylesheet')
    link(href='/public/css/calendar_library/modal.css', rel='stylesheet')
    link(href='/public/css/calendar_library/fullcalendar.print.css', rel='stylesheet', media='print')
    script(src='/public/js/calendar_library/moment.min.js')
    script(src='/public/js/calendar_library/jquery.min.js')
    script(src='/public/js/calendar_library/fullcalendar.min.js')
    script(src='/public/js/create_calendar.js')