extends layout
block content
    header.w3-display-container.w3-content.w3-wide(style='max-width:1500px;')
        img.w3-image(src='/public/images/index_img.jpg', alt='PubCal', width='1500', height='800')
        .w3-display-middle.w3-center
            h1.w3-xxlarge
                span.w3-border.w3-border-white.w3-padding.w3-text-white Public
                span.w3-hide-small.w3-text-white.w3-margin-left Calendars
            include ./calendars/search-bar
    .w3-content.w3-padding(style='max-width:1564px')
        // Calendar Section
        #projects.w3-container.w3-padding-32
            h3.w3-border-bottom.w3-border-light-grey.w3-padding-12 Featured Calendars
        .w3-row-padding
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_1.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Summerlicious
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_2.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Winterlicious
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_3.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Christmas Shopping
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_4.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Thanksgiving North
        .w3-row-padding
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_5.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Oktoberfest
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_6.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Your Birthday
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_7.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Cuba Week
            .w3-col.l3.m6.w3-margin-bottom
                .w3-display-container.w3-card-4
                    img(src='/public/images/calendar_8.jpg', alt='Calendar', style='width:100%')
                    .w3-container.w3-center
                        p Science Fair





