doctype html
html
    head
        meta(charset='utf-8')
        title PubCal
        meta(name='description', content='Public repository of calendars')
        meta(name='viewport', content='width=device-width')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet')
        link(rel='stylesheet', href='/public/css/bootstrap.css')
        link(rel='stylesheet', href='/public/css/profile.css')
        link(rel='stylesheet', href='/public/css/normalize.min.css')
        link(rel='stylesheet', href='/public/css/animate.css')
        link(rel='stylesheet', href='/public/css/templatemo-misc.css')
        link(rel='stylesheet', href='/public/css/templatemo-style.css')
        link(rel='stylesheet', href='/public/css/login.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src='/public/js/login.js')
    body
        header.site-header
            //.top-header
            if email
                form(class="anchor-wrap" action="/logout" method="post")
                    input.btn.btn-danger#logoutButton(type="submit" value="Sign out")
                a.btn.btn-info#profileButton(href="/profile") Profile
            else
                a.login-window.btn.btn-info(href='#login-box') Login | Sign Up
        //.main-header
        .container
            .row
                .col-md-4.col-sm-6.col-xs-8
                    .logo
                        h1
                            a(href='/') PubCal
        footer
            .bottom-footer

        include ./calendars/search-bar

        .content-section
            block content
            include ./component/login
        footer(class="footer")
            .bottom-footer
