p this is profile page

	section
		form(class="anchor-wrap" action="/logout" method="post")
			input(type="submit" class="flt_r m_l_5" id="logoutButton" value="SIGN OUT")

	p 
		span(class="username-field")=email
