extends layout
block content


    section(class="main-wrap")
        section(class="main-nav-pro bdb-lg h100")
            div(class="main-nav-button-wrap vert-cent")
                div(id="mycalendars" class="main-nav-button selected")
                    a(id="nav1" href="#")
                        span(class="nav-title") My Calendar &nbsp;

        ul(id="friends" class="profile-info selected")
            li(class="profile-contents")
                section(class="container-content")
                    section(class="content-key")
                        span(class="sub-title") My Calendars
                    section(class="content-value")
                        div(class="info-content")
                            div(id="resultWrap")
                                div(id="resultField")

        ul(id="account-settings" class="profile-info")
            li(id="profile-manage" class="bdb-lg profile-contents")
                section(class="container-content")
                    section(class="content-key")
                    section(class="content-value")
                        div(class="acc-info")
                            div(class="perma")
                                label(class="profile-label") Username
                                div(class="username-container")
                                    span(class="username-field")=email

    script(src='/public/js/profile.js', defer)
