extends layout
block content
    section(class="main-wrap")
        section(class="nav-menu bdb-lg h100")
            div(class="main-nav-button-wrap vert-cent")
                div(id="mycalendars" class="main-nav-button selected")
                    a(id="nav1" href="#")
                        span(class="nav-title") My Calendar &nbsp;
                div(class="main-nav-button-wrap vert-cent")
                    div(id="mycalendars" class="main-nav-button")
                        a(id="nav1" href="#")
                            span(class="nav-title") Notifications &nbsp;
        span(class="email-field").hidden=email
        span(class="username-field").hidden=username
        div(id="resultWrap")
            h3 Owned
            div(id="ownedField")
            each calendar in calendars
                if calendar.created_by == username
                    div(class="resultField")
                        a(href='calendars/'+ calendar._id)=calendar.name
                        a#edit-btn.button(href='calendars/'+ calendar._id + '/edit') Edit
                        a#remove-btn.button(href='', target='_blank') Remove
                    br
            h3 Subscribed
            each calendar in calendars
                if calendar.created_by != username
                    div(class="resultField")
                        a(href='calendars/'+ calendar._id)=calendar.name
                        a#unsubscribe-btn.button(href='', target='_blank') Unsubscribe
                        a#subscribe-btn.button(href='', target='_blank') Subscribe
                    br

            div(id="subscribedField")
            


    script(src='/public/js/profile.js', defer)
    script(src='/public/js/sub-unsub.js', defer)
    link(href='/public/css/button.css', rel='stylesheet')