extends layout
block content
    .result-section
        section(id="popular")
            .w3-content.w3-padding(style='max-width:1564px')
                .w3-container.w3-padding-16
                    h3.w3-border-bottom.w3-border-light-grey.w3-padding-12 These are what you have been looking for ...
                each calendar in result
                    .w3-row-padding
                        .w3-col.l3.m6.w3-margin-bottom
                            .w3-display-container.w3-card-4
                                each obj, key in calendar
                                    if key == "_id"
                                        - var link = '/calendars/' + obj
                                    if key == "name"
                                        .w3-container.w3-blue.w3-center.w3-padding
                                            a.w3-padding.w3-text-white.w3-xlarge(href=link)=obj
                                        .w3-container.w3-margin
                                            p Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                                        .w3-container.w3-center.w3-blue
                                    if key == "tags"
                                        li(class="list-group-item")
                                            p="TAGS:  " + obj
    script(src='/public/js/result.js')