extends layout
block content
    include ./calendars/search-bar
    .result-section
        section(id="popular")
            h3.text-center Search Results
            .text-primary
                ul(class="list-group")
                    each calendar in result
                        li
                            ul
                                each obj, key in calendar
                                    if key == "_id"
                                        - var link = '/calendars/' + obj
                                    if key == "name"
                                        li(class="list-group-item")
                                            a(href=link)=obj
                                    if key == "tags"
                                        li(class="list-group-item")
                                            p="TAGS:  " + obj
