extends layout
block content
    .content-section
        section(id="popular")
            h3.text-center Search Results
            .text-primary
                ul(class="list-group")
                    each calendar in result
                        each obj, key in calendar
                            if key == "name"
                                li(class="list-group-item")=obj
                            if key == "tags"
                                li(class="list-group-item")=obj
                            if key == "hostname"
                                li(class="list-group-item")=obj
