.container
    #updated-box.updated-popup
        ul.w3-navbar.taller
            li.left-half
                a#updated-calendars Calendars
            li.right-half
                a#msgs.w3-grey Messages
        .w3-margin-top.w3-margin-bottom.scroll#notificationsBox
            //.w3-panel.w3-blue.w3-round.w3-card-4
            //    h3 calendar-1!
            //    p Red often indicates a dangerous or negative situation.
            ////.w3-panel.w3-blue.w3-round.w3-card-4
            //    h3 calendar-2!
            //    p Red often indicates a dangerous or negative situation.
            //.w3-panel.w3-blue.w3-round.w3-card-4
            //    h3 calendar-2!
            //    p Red often indicates a dangerous or negative situation.
            //.w3-panel.w3-blue.w3-round.w3-card-4
            //    h3 calendar-1!
            //    p Red often indicates a dangerous or negative situation.
            //.w3-panel.w3-blue.w3-round.w3-card-4
            //    h3 calendar-2!
            //    p Red often indicates a dangerous or negative situation.
            //.w3-panel.w3-blue.w3-round.w3-card-4
            //    h3 calendar-2!
            //    p Red often indicates a dangerous or negative situation.


